/target/
/bin/
/.settings/
/build.gradle
/.springBeans
/.classpath
/.idea/
/backend/target/
/frontend/target/
backend/.classpath
backend/.project
backend/derby.log
backend/spring-boot-sample-backend.iml
backend/src/main/resources/cert.pem
backend/src/main/resources/clientkeystore
backend/src/main/t.log
derby.log
frontend/.classpath
frontend/.gitignore
frontend/.project
frontend/.settings/
frontend/spring-boot-sample-frontend.iml
frontend/src/main/frontend/node/
frontend/src/main/frontend/node_modules/
/frontend/src/main/frontend/src/app/api/
