<!--
<mat-input-container class="example-full-width">
  <input mdInput  value="{{number}}" (keyup)="onKey($event)" >
</mat-input-container>
<button mat--button (click) ="previous()"> <mat->skip_previous</mat-> </button>
<button mat--button (click) ="next()"> <mat->skip_next</mat-> </button>

<a  routerLink="upload" >Upload</a>

<div style="padding: 20px">

  <span class="fill-remaining-space" >

  <mat-select placeholder="Select a Categorie"  style="width: 300px"
             [(ngModel)]="categorie" [ngModelOptions]="{standalone: true}"
             (change)="onCategorieSelect()">
    <mat-option *ngFor="let categ of categories"  [value]="categ.value">
      {{categ.viewValue}}
    </mat-option>
  </mat-select>
    </span>
</div>
<div *ngIf="question" style="padding: 10px">
  <div class="flex_center"><h1>{{question.question}}</h1></div>
  <div class="flex_center"><h3 [innerHTML]="question.reponse"></h3></div>
</div>-->
<!--<div *ngFor="let categ of categories">{{categ}}</div>-->

<!--<mat-toolbar>-->
  <!--<span>Questions</span>-->
  <!--<span class="fill-remaining-space"></span>-->
  <!--<span>-->
        <!--<button mat-raised-button mdTooltip="Search" (click)="search()">-->
            <!--<mat-icon>search</mat-icon> Search-->
        <!--</button>-->
      <!--</span>-->
<!--</mat-toolbar>-->

<div class="example-container mat-elevation-z8">

  <mat-table #table [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef> No.</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.number}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="categorie">
      <mat-header-cell *matHeaderCellDef> Categorie</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.categorie}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="question">
      <mat-header-cell *matHeaderCellDef> Question</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.categorie}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<mat-nav-list>
  <mat-list-item *ngFor="let question of results  | async">
    <div style="margin-right: 0px">
      <div>
        <a mat-icon-button style="max-width: 600px;overflow: hidden" matTooltip="Edit Bookmark">
          <mat-icon color="primary">create</mat-icon>
        </a>
      </div>

    </div>
    <!-- <span class="fill-remaining-space"></span>-->
    <span>{{question.question}}</span>
  </mat-list-item>

  <mat-divider></mat-divider>
</mat-nav-list>




